.App {
  text-align: center;
}
table{
  /* border: 2px solid rgb(55, 55, 55); */
  padding: 10px;
  margin: 0 auto;
  width: 70%;
}
th{
  border: 1px solid rgb(146, 146, 146);
  padding: 15px 30px;
}
button{
  padding: 5px 15px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  background-color: green;
}

input{
  border: none;
  border-bottom: 1px solid #b3b1ad;
  padding: 4px 0px;
  margin-bottom: 15px;
  width: 40%;
}
